.footer{
    display: flex;
    padding:20px;
    place-content: center;
}

.footer-name{
    flex-basis: 100%;
    align-self: center;
}

.social-media{
    flex-basis: 60%;
    text-align: left;
    width: 100px;
}

.social-icon:hover{
    scale: 1.3;
}

.social-media-ul>li{
    display: inline;
}